<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gebom Mining Pool</title>
    <meta name="description" content="High profitability Genom mining pool"/>
    <meta name="keywords" content="gen, genom, pool, mining, cryptocurrency"/>
    <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
    {{content-for "head"}}
    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/open-ethereum-pool.css">
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/open-ethereum-pool.js"></script>

    {{content-for "body-footer"}}

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Genom |
          Powered by <a href="https://github.com/sammy007/open-ethereum-pool" target="_blank">open-ethereum-pool</a> 
        </p>
      </div>
    </footer>
  </body>
</html>
